.active {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    /* padding-left: 1rem !important; */
    /* padding-right: 0 !important; */
}

li {
    list-style-type: none !important;
}

.active p {
    color: #000 !important;
    border-bottom: 2px solid black;
}

li svg {
    margin-bottom: 4px;
}

ul li {
    position: relative;
}