@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: transparent !important;
    color: #1A1819 !important;
    border-bottom: 1px solid #1A1819 !important;
    border-radius: 0 !important;
}

li a:not(.active):hover {
    background-color: transparent !important;
    color: #1A1819 !important;
    transform: scale(1.05);
    outline: none !important;
    transition: .2s ease;
}