@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  /* padding-left: 1rem !important; */
  /* padding-right: 0 !important; */
}

li {
  list-style-type: none !important;
}

.active p {
  color: #000 !important;
  border-bottom: 2px solid black;
}

li svg {
  margin-bottom: 4px;
}

ul li {
  position: relative;
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Edge */
}

/* For all browsers */
input[type="number"] {
  appearance: none;
  /* Standard property */
}

/* For WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* WebKit-specific */
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox-specific */
}

/* styling the range thumb */
input[type="range"]::-webkit-slider-thumb {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #23a7eefe;
  border: 2px solid #f4a261;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

input[type="range"]::-moz-range-thumb {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #f4a261;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

.drawer-toggle:checked~.drawer-content {
  --tw-translate-x: auto !important;
}

.drawer-side {
  z-index: 99999 !important;
}