@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  /* padding-left: 1rem !important; */
  padding-right: 0 !important;
}

.active p {
  color: #ffc75f !important;
}

li a {
  display: flex;
  font-size: small;
  padding-right: 0 !important;
  padding: 0 0.3rem;
  position: relative;
}

li svg {
  margin-bottom: 4px;
}

ul li {
  position: relative;
}